{{/* Go template - helmfile - deployes web-apps helm charts */}}

{{- /* Variable definitions */ -}}
{{- $statelessChartsDir := "../helm/charts/stateless-apps" -}}
{{- $valuesDir := "../helm/values/apps" -}}
{{- $commonNamespace := "apps" -}}

{{/* Helm releases that are deployed from selfhosted charts */}}
releases:
  - name: excalidraw
    namespace: {{ $commonNamespace }}
    chart: {{ $statelessChartsDir }}
    values:
      - {{ printf "%s/%s" $valuesDir "excalidraw.yaml" }}
