{{/* Go template - helmfile - deployes web-apps helm charts */}}

{{- /* Variable definitions */ -}}
{{- $statelessChartsDir := "../helm/charts/stateless-apps" -}}
{{- $valuesDir := "../helm/values/apps" -}}
{{- $commonNamespace := "apps" -}}

repositories:
  - name: nfspersistence
    url: https://shakir85.github.io/homelab

releases:
  - name: excalidraw
    namespace: {{ $commonNamespace }}
    chart: {{ $statelessChartsDir }}
    values:
      - {{ printf "%s/%s" $valuesDir "excalidraw.yaml" }}
