{{/* Go template - helmfile - deployes web-apps helm charts */}}

{{- /* Variable definitions */ -}}
{{- $statelessChartsDir := "../helm/charts/stateless-apps" -}}
{{- $valuesDir := "../helm/values/apps" -}}
{{- $commonNamespace := "apps" -}}

releases:
  - name: deemix
    namespace: {{ $commonNamespace }}
    chart: {{ $statelessChartsDir }}
    values:
      - {{ printf "%s/%s" $valuesDir "deemix.yaml" }}
